name: Integration Test Github
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: hansvd/Publish-Docker-Github-Action@master
      with:
        name: docker.pkg.github.com/hansvd/publish-docker-github-action/publish-docker-github-action
        username: ${{ secrets.GITHUB_USERNAME }}
        password: ${{ secrets.TOKEN }}
        registry: docker.pkg.github.com
